ul {
   width: 35px;
   height: 35px;
   padding: 5px;
   border: 2px solid #3C5E68;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   list-style-type: none;
}

.fa-magnifying-glass {
    color: #33A4B2;
}
.fa-magnifying-glass:hover, .fa-magnifying-glass:active {
    color: #3C5E68;
}