<header>
        <script src="https://kit.fontawesome.com/23c1a897ea.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../style/headerSearchBtn.css">

        <ul class="nav navbar-nav navbar-left navbar-search-button">
                <li><a class="search-button" href="#"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a></li>
        </ul>
        <form class="navbar-form navbar-left navbar-search-form wow fadeInLeft animated" role="form" action="" method="post" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="form-group">
                        <input type="text" name="search" placeholder="Search..." class="search form-control">
                </div>
        </form>
</header>