/* -------------- Boutons Carrés -------------- */
.squareButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3C5E68;
    border-bottom: 5px solid #3C5E68;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #FFFDF9;
}

/* ----------- 40px ----------- */
/* Bouton recherche et Bouton utilisateur (header) 
+  Bouton Filtre des outils (page "allTools") */
.searchButton, .userButton {
    padding: 4px;
    width: 40px;
    height: 40px;
}

/*  */


/* Boutons rectangulaires */
/* px */