header {
    height: 10vh;
    margin: 8vh 3vw;
    background-color: #3C5E68;
    display: flex;
    justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.searchButton, .userButton {
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 35px;
    height: 35px;
    border: 2px solid #3C5E68;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #FFFDF9;
}

.searchBar {
    position: absolute;
    margin-left: 15px;
    margin-top: 0;
    height: 37px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 2px solid #3C5E68;
    border-left: transparent;
}

.fa-magnifying-glass, .fa-user {
    margin: 2px;
    color: #33A4B2;
}

.fa-magnifying-glass:hover, 
.fa-magnifying-glass:active,
.fa-user:hover, 
.fa-user:active {
    color: #3C5E68;
}