/* ---------------------------- STYLE GÉNÉRAL --------------------------- */
body {
    margin: 0;
}

header {
    height: 10vh;
}

main {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 25px 64px 60px 64px;
}

.title {
    font-family: 'Merriweather';
    color: #000;
}

.title16px, .text16px {
    font-size: 1em;
}

.title12px {
    font-size: 0.75em;
}

.text {
    font-family: 'Lora';
    color: #000;
}

.text18px {
    font-size: 1.12em;
}

.text14px {
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

/* --------------- Boutons Carrés --------------- */
.squareButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3C5E68;
    border-bottom: 5px solid #3C5E68;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #FFFDF9;
}

/* ----------- 40px ----------- */
/* Bouton recherche et Bouton utilisateur (header) 
+  Bouton Filtre des outils (page "allTools") */
.searchButton, .userButton {
    width: 40px;
    height: 40px;
}

/* Boutons rectangulaires */
/* px */


/* ------------------------------- INDEX -------------------------------- */
/* ----------------- Index - Commun ----------------- */


/* --------------- Index - Spécifique --------------- */
.titleWelcome {
    width: 100%;
    text-align: center;
}

.indexBox {
    margin: 61px 61px 0 61px;
}

.indexInnerBox {
    margin: 61px 61px 0 61px;
}

/* ------------------------------- HEADER ------------------------------- */
/* ----------------- Header - Commun ----------------- */
header {
    margin: 49px 64px;
}

/* Boutons recherche et utilisateur */
.searchButton:active, .userButton:active {
    border-bottom: 2px solid #3C5E68;
    box-shadow: inset 0 2px rgba(0, 0, 0, .25);
}

/* Images SVG des bouton recherche et utilisateur */
.fa-magnifying-glass, .fa-user {
    color: #33A4B2;
}

.fa-magnifying-glass:active, .fa-user:active {
    color: #3C5E68;
}

/* --------------- Header - Spécifique --------------- */
/* Section contenant section "search" et section "user" */
.navHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Section contenant bouton recherche et zone de recherche */
.search {
    display: flex;
    justify-content: space-between;
}

/* Zone de recherche */
.searchBar, .searchBar:focus {
    position: absolute;
    margin-left: 55px;
    padding-left: 10px;
    width: 20%;
    height: 45px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 2px solid #3C5E68;
    border-left: transparent;
    outline: none;
}

/* Section contenant bouton utilisateur et section "navHidden" 
(navigation dans le compte utilisateur) */
.user {
    display: flex; 
    justify-content: end;
}

#navHidden {
    position: absolute;
    margin-top: 60px;
    padding: 8px 14px;
    width: 8.4vw;
    border: 0.5px solid #3C5E68;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #FFFDF9;
    text-align: right;
}

.visibilityNav {
    visibility: hidden;
}

.titleBox {
    padding: 8px 0;
}

.separationLine {
    border-bottom: 1px solid #33A4B2;
}

.titleHeader {
    margin: 8px 0;
}

.navUserAccount {
    display: flex;
    flex-wrap: wrap; 
    justify-content: end;
}

.navUserAccountLinks {
    width: 156px;
}

/* Logo de le Plateforme Pretooty*/
.logoPretooty {
    position: absolute;
    top: 19px;
    left: 40%;
    width: 383px;
    height: 111px;
    background-image: url(../img/LogoPretooty.svg);
    background-repeat: no-repeat;
}

/* ------------------------------- FOOTER ------------------------------- */
/* --------------- Footer - Commun --------------- */
footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55px;
    bottom: 0;
    background-color: #3C5E68;
}

.footerLinks, .footerSeparations {
    color: #fff;
}

/* ------------- Footer - Spécifique ------------- */
.navFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    text-align: center;
}

.footerLinks {
    text-shadow: #00000088 1px 1px 2px;
}

.footerLinks:hover {
    text-decoration: underline #fff;
}

.footerLinks:active {
    text-shadow: none;
}

/* ---------------------------- LOGINACCOUNT ----------------------------- */
/* --------------- loginAccount - Commun --------------- */
.connectionAndCreationAccount {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.signInContainer {
    flex-wrap: wrap;
     width: 20%;
}

.titleConnection, .textConnection, .label, .input, .forgottenPassword {
    width: 100%;
}

.otherConnections { /* À voir plus tard */
    visibility: hidden;
    margin: 38px 0 38px 47px;
    height: 34px;
}

.identification {
    border-left: 5px solid #d9d9d9;
    padding-left: 41px;
}

.pseudoEmail {
    margin-bottom: 15px;
}

.pseudoEmail, .password {
    max-width: 97%;
}

.input {
    margin: 9px 0;
}

.forgottenPassword {
    color: #33A4B2;
}

.connectionOrMember {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 13px;
}

.connect {
    padding: 8px;
    border-radius: 5px;
    background-color: #33A4B2;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.notMember {
    width: 100%;
    margin-top: 45px;
    text-align: right;
    color: #33A4B2;
}