/* ---------------------------- STYLE GÉNÉRAL --------------------------- */
body {margin: 0;}

header {
    height: 10vh;
    margin: 49px 64px 20px 64px;
}

main {
    min-height: 65vh;
    margin: 0 64px 60px 64px;
}

/* fonts & font-size */

.title {
    font-family: 'Merriweather';
    color: #000;
}

.text {
    font-family: 'Lora';
    color: #000;
}

.fontSize22px {font-size: 1.375em;}

.fontSize20px {font-size: 1.25em;}

.fontSize18px {font-size: 1.125em}

.fontSize16px {font-size: 1em;}

.fontSize14px {font-size: 0.875em;}

.fontSize13px {font-size: 0.8125em;}

.fontSize12px {font-size: 0.75em;}

/* Images SVG des bouton recherche et utilisateur */
.fa-magnifying-glass, 
.fa-user, .fa-pencil,
.fa-trash-can,
.fa-calendar-check {color: #33A4B2;}

.fa-magnifying-glass:active, 
.fa-user:active, .fa-pencil:active,
.fa-trash-can:active,
.fa-calendar-check:active {color: #3C5E68;}

/* Design de liens */
a {text-decoration: none;}

.footerLinks, .footerSeparations, 
.userNavbarLinks {color: #fff;}

.footerLinks, 
.userNavbarLinks {text-shadow: #00000088 1px 1px 2px;}

.footerLinks:hover, 
.userNavbarLinks:hover {text-decoration: underline #fff;}

.footerLinks:active, 
.userNavbarLinks:active {text-shadow: none;}

/* --------------- Boutons Carrés --------------- */
.squareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDF9;
}

/* ----------- 40px ----------- */
/* Bouton recherche et Bouton utilisateur (header) 
+  Bouton Filtre des outils (page "allTools") */
.button40px {
    width: 40px;
    height: 40px;
    border: 2px solid #3C5E68;
    border-bottom: 5px solid #3C5E68;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button40px:active {
    border-bottom: 2px solid #3C5E68;
    box-shadow: inset 0 2px rgba(0, 0, 0, .25);
}

/* ----------- 28px ----------- */
/* Bouton recherche et Bouton utilisateur (header) 
+  Bouton Filtre des outils (page "allTools") */
.button28px {
    width: 28px;
    height: 28px;
    border: 1px solid #3C5E68;
    border-bottom: 2px solid #3C5E68;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button28px:active {
    border-bottom: 1px solid #3C5E68;
    box-shadow: inset 0 2px rgba(0, 0, 0, .25);
}

/* Boutons rectangulaires */
/* Bouton de connexion à l'espace utilisateur */
.button115px35px {
    width: 115px;
    height: 35px;
    padding: 8px;
    background-color: #33A4B2;
    color: #fff;
    border: 1px solid #3C5E68;
    border-bottom: 4px solid #3C5E68;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button115px35px:active {
    border: 1px solid #3C5E68;
    box-shadow: inset 0 2px rgba(0, 0, 0, .25);
}

/* px */



/* ------------------------------- INDEX -------------------------------- */
/* ----------------- Index - Commun ----------------- */
/* --------------- Index - Spécifique --------------- */
.titleWelcome {
    width: 100%;
    text-align: center;
}

.indexBox {margin: 61px 61px 0 61px;}

.indexInnerBox {margin: 61px 61px 0 61px;}

/* ------------------------------- HEADER ------------------------------- */

/* --------------- Header - Spécifique --------------- */
/* Section contenant section "search" et section "user" */
.navHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Section contenant bouton recherche et zone de recherche */
.search {
    display: flex;
    justify-content: space-between;
}

/* Zone de recherche */
.searchBar, .searchBar:focus {
    position: absolute;
    margin-left: 55px;
    padding-left: 10px;
    width: 20%;
    height: 45px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 2px solid #3C5E68;
    border-left: transparent;
    outline: none;
}

/* Section contenant bouton utilisateur et section "navHidden" 
(navigation dans le compte utilisateur) */
.user {
    display: flex; 
    justify-content: end;
}

#navHidden {
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    padding: 8px 14px;
    width: 8.4vw;
    border: 0.5px solid #3C5E68;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #FFFDF9;
    text-align: right;
}

.visibilityNav {visibility: hidden;}

.titleBox {padding: 8px 0;}

.separationHorizontalLine1px {border-bottom: 1px solid #33A4B2;}

.titleHeader {margin: 8px 0;}

.navUserAccount {
    display: flex;
    flex-wrap: wrap; 
    justify-content: end;
}

.navUserAccountLinks {
    width: 156px;
}

/* Logo de le Plateforme Pretooty*/
.logoPretooty {
    position: absolute;
    top: 19px;
    left: 40%;
    width: 383px;
    height: 111px;
    background-image: url(../img/LogoPretooty.svg);
    background-repeat: no-repeat;
}

/* ------------------------------- FOOTER ------------------------------- */
/* --------------- Footer - Commun --------------- */
footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55px;
    bottom: 0;
    background-color: #3C5E68;
}

/* ------------- Footer - Spécifique ------------- */
.navFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    text-align: center;
}

/* -------------------- LOGINACCOUNT & CREATEACCOUNT --------------------- */
.connectionAndCreationAccount {
    display: flex;
    justify-content: center;
    align-content: center;
}

.signInContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 30%;
}

.titleConnection, .textConnection, .label, 
.inputCreateAccount, .inputLoginAccount, 
.forgottenPassword {width: 100%;}

.otherConnections { /* À voir plus tard */
    visibility: hidden;
    margin: 20px 0 20px 43px;
    height: 34px;
}

.formConnection {width: 100%;}

.identification {
    border-left: 5px solid #d9d9d9;
    padding: 0 15px 0 41px;
}

.pseudoEmail {margin-bottom: 15px;}

.inputCreateAccount, .inputLoginAccount, 
.inputCreateTool, .toolTextArea {
    margin: 9px 0;
    padding: 5px;
    border: 1px solid #3C5E68;
    border-radius: 5px;
    background-color: #FFFDF9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.forgottenPasswordLink {color: #33A4B2;}

.forgottenPasswordLink:active {text-decoration: underline;}

.connection {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 13px;
}

.notMemberLink, .toConnectionPageLink {
    width: 100%;
    margin-top: 45px;
    color: #33A4B2;
}

.notMemberLink {text-align: right;}

.notMemberLink:active, 
.toConnectionPageLink:active {text-decoration: underline;}

.requiredCharacters {
    position: absolute;
    margin: 13px 0 0 43px;
    color: #6D6E6F;
}

.requiredCharactersTitle {margin: 0 0 5px 0;}

.requiredCharactersList {margin: 0;}

.returnLinks {
    position: relative;
    width: 100%;
    margin-top: 90px;
    text-align: left;
}

/* ------------------------------- USERNAVBAR ------------------------------- */
.userNavbar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    padding: 34px 25px;
    width: 16vw;
    height: 68vh;
    background-color: #3C5E68;
    color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
}

.userNavbarSections, .userNavbarLinks {
    width: 100%;
}

.userNavbarInnerSections {
    margin-top: 10px;
    padding: 23px 30px 15px 30px;
    display: flex;
    flex-wrap: wrap;
    border-top: #fff solid 2px;
}

/* .userNavbarTitles {
} */

.userNavbarUnderLinks {
    margin-bottom: 32px;
}



.active {
    text-decoration: underline solid #fff;
}

/* ------------------------------- USERPAGEACCOUNT ------------------------------- */
.userMain {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.userContainer {
    width: 100%;
    padding: 0 40px 0 380px;
}

.generalModifyingButton, 
.calendarButtonBig {
    position: absolute;
    border: #3C5E68 solid 1px;
    border-bottom: #3C5E68 solid 4px;
    top: 0;
    right: 40px;
}

.generalModifyingButtonTemporary, 
.calendarButtonBigTemporary {  
    border: 1px solid #3C5E68;
    border-bottom: 2px solid #3C5E68;
    top: 10px;
    right: 120px;
}

.generalModifyingButtonTemporary:active, 
.calendarButtonBigTemporary:active {  
    border: 1px solid #3C5E68;
    box-shadow: inset 0 2px rgba(0, 0, 0, .25);
}

.userContainerSections {
    margin-top: 25px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: transparent;
}

.userContainerTitles {
    margin-bottom: 10px;
    color: #33A4B2;
}

.separationLineTop2px {
    border-top: 2px solid #6D6E6F;
}

.userGeneralInformations, 
.userCreateToolInformations {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.userInnerContainer {
    margin: 27px 0 0 36px;
    padding: 10px 27px 0 0;
    width: 50%;
    flex-basis: 48%;
}

.leftInnerContainer {border-right: #CCC9CB solid 4px;}

.userFormElements {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    line-height: 3.2em;
}

.labelAccount {
    width: 30%;
}

.inputAccountInformations {
    width: 70%;
    margin-left: 24px;
}

/* Toggle de notifications */
.notificationToggle {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.noficationCheckbox {display: none;}
  
.noficationCheckboxLabel {
    position: absolute;
    width: 28px;
    height: 19px;
    background-color: #3C5E68;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
.noficationCheckbox:checked + 
.noficationCheckboxLabel {
    background-color: #33A4B2;
}
  
.noficationCheckboxLabel::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 13px;
    height: 13px;
    background-color: #FFFDF9;
    border-radius: 15px;
    transition: transform 0.1s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  
.noficationCheckbox:checked + 
.noficationCheckboxLabel::before {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

/* Bouton de suppression de compte utilisateur */
.deleteAccount {
    display: flex;
    align-self: center;
}

/* ------------------------------- CREATETOOL ------------------------------- */
.userToolInnerContainer {
    margin-left: 36px;
    padding-top: 10px;
    width: 100%;
}

.toolName, .toolCategory, 
.toolStatus, .toolPhotoDownload {
    display: flex;
    width: 100%;
}

.toolName, .toolCategory, 
.toolPhotoDownload {
    align-items: center;
}

.toolName, .toolStatus, .toolPhotoView {
    margin-bottom: 8px;
}

.toolCategory, .toolPhotoDownload {
    margin-bottom: 15px;
}

.toolInformations {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 39px;
}

.toolPhotoView {
    width:350px; 
    height:224px;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    border:solid 1px #3C5E68;
}

.createToolLabel {
    width: 25%;
    line-height: 2.5em;
}

.inputCreateTool, .createToolStatus, 
.inputPhotoDownload {
    width: 50%;
}

.inputPhotoDownload {
    margin: 9px 0;
    padding: 5px;
}

.createToolInformationsLabel {
    width: 100%;
}

.toolTextArea {
    width: 100%;
    height: 154px;
    margin: 19px 0 0 155px;
}

.userContainerButtons {
    margin: 32px 0 71px 0;
    display: flex;
    justify-content: flex-end;
}

.userToolButtons {
    width: 25%;
    display: flex;
    /* justify-content: space-between; */ /* À activer lorsqu'on remettra le bouton Annuler */
    justify-content: flex-end; /* À retirer lorsqu'on remettra le bouton Annuler */
}

/* ------------------------------- TOOLCARDS ------------------------------- */
.indexBoxToolCards {
    margin: 61px 61px 90px 61px;
    display: flex;
    flex-wrap: wrap;
}

.toolCardVerticalRectangle {
    width: 208px;
    max-height: 285px;
    margin: 28px 35px;
    padding: 15px 24px;
    border: 2px solid #3C5E68;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    text-align: center;
}

.toolCardTitle a {
    height: 40px;
}

.toolCardTitle, .containerPhotoTool, 
.toolCardCategoryStatus {
    margin-bottom: 20px;
}

.nameToolLinks {
    display: inline-block;
    text-decoration: none;
    color: #6D6E6F;
    text-align: center;
}

.containerPhotoTool {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.photoToolCard {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ------------------------------- TOOLSHEET ------------------------------- */
.separationLineBottom2px {
    border-bottom: 2px solid #6D6E6F;
}